<p>
  Bitacora works!
</p>

<div class="text-right " >
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Agregar
  </button>
  
</div>

<!-- Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Categoria</h5>
      </div>
      <div class="modal-body">
        <form class="form-inline">
  <input type="text" [(ngModel)]="categ.actividadName" name="actividadName" class="form-control mb-2 mr-sm-2" placeholder="Categorias">
  

</form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="agregarCateg()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<br>
<br>
<div>
  <button type="button" (click)="getMostrar()">Mostrar Categorias</button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre Actividad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of categs">
        <td>{{c.actividadName}}</td>
    </tr>
  </tbody>
</table>
